<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <tfsbranchsourceplugin.tfs__branch__source.HelloWorldBuilder plugin="tfs_branch_source@1.0-SNAPSHOT">
      <name>Eric</name>
    </tfsbranchsourceplugin.tfs__branch__source.HelloWorldBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>